@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Rubik:wght@300;400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
    font-size: 1.4rem;	
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
}


/* ----------- selectores de clase ----------- */
.font-Xl{
	font-size: 2.4rem;
}

.font-L{
	font-size: 2rem;
}

.font-M{
	font-size: 1.6rem;
	font-weight: 400;
}

.font-S{
	font-size: 1.4rem;
	font-weight: 400;
}

.font-Xs{
	font-size: 1.2rem;
}

.textLeft{
	text-align: left;
}

/* ----------- GRID ----------- */
.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header" "nav" "main" "aside" "footer";
}

/*areas del layout*/
#header{
	grid-area: header;
}

#nav{
	grid-area: nav;
}

#main{
	grid-area: main;
}

#aside{
	grid-area: aside;
}

#footer{
	grid-area: footer;
}


/* ----------- header encabezado ----------- */
.encabezado{
	width: 100vw;
	height: 60px;
	padding-right: 1rem;
	background-color: rgba(67, 67, 67, 0.3);
	border-bottom: rgba(70, 70, 70, 0.2) 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.encabezado ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
	
.encabezado ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem 2rem;
	list-style: none;
	font-weight: 800;
	color: rgba(255, 255, 255, 1.0);
}

.encabezado ul li a:visited{
	color: rgba(255, 255, 255, 1.0);
}

.encabezado ul li a:hover{
	color: rgba(9,105,121,1);
}
.buscar{
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
}

.buscar input{
	width: 0px;
	height: 35px;
	padding: 0 20px;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	outline: none;
	border: 1px solid silver;
	border-radius: 30px;
	transition: all 0.6s ease;
}

.btn{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(80, 180, 180, 1);
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: white;
	font-size: 1.8rem;
	border-radius: 50%;
	cursor: pointer;
}

.buscar:hover input{
	width: 240px;
}

.buscar input:focus{
	width: 240px;	
}

.icon{
	margin-top: 10px;
	width: 28px;
	height: 28px;	
}

/* ----------- nav color turquoise ----------- */
.botonera{
	position: sticky;
	top: 0;
	width: 100vw;
	background: rgb(9,105,121);
	background: linear-gradient(270deg, rgba(9,105,121,0.7539390756302521) 48%, rgba(0,212,255,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.botonera img{
	justify-content: space-evenly;
	align-items: center;
	width: 12rem;
}

.botonera ul{
	/* -----box model----- */
	width: 100vw;
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	font-weight: 800;	
	color: rgba(32, 33, 36, 1);
}


.botonera ul li a:visited{
	color: rgba(32, 33, 36, 1);
}

.botonera ul li a:hover{
	color: white;
	font-weight: 600;
}


/* ----------- main - animación ----------- */
@keyframes mainAnimation{
	0%{background-image: url(../img/0-slide.png)}
	25%{background-image: url(../img/1-slide.png)}
	50%{background-image: url(../img/2-slide.png)}
	75%{background-image: url(../img/3-slide.jpg)}
	100%{background-image: url(../img/4-slide.png)}
}

.slider_slide{
	width: 100vw;
	height: 50vh;
	animation-name:mainAnimation;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background-size: cover;
}

/* ----------- main - envio-pago-seguridad-contacto ----------- */
.main__pago-envio{
	background-color: silver;
	margin-top: -0.2rem;
	padding-bottom: 2rem;
	width: 100vw;
	height: auto;	
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.img_pagos{
	width: 5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/* ---------- index.html - sección principal - categorías ----------- */
.section__title{
	text-align: center;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);
	color: white;
	width: 100vw;
	height: auto;
	padding: 1.6rem 2rem;
}

.section__categorias{
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
    list-style: none;
    border-radius: .25rem;
    text-align: center;
}

.categorias{
	margin: 1.5rem 0;
	padding: 1.5rem 1.5rem;
}

.section__img--size{
	width: 30rem;
	height: 30rem;
	border-radius: 0.5rem;
	margin: 0.4rem;
}

/* -----HTML: categorias / contacto /sale / crear cuenta----------- */
.main__titulo{
	text-align: center;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);
	color: white;
	width: 100vw;
	height: auto;
	margin-top: -0.5rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

.main__titulo1{
	text-align: center;
	color: rgba(97, 97, 97, 0.8);
	border-bottom: rgba(97, 97, 97, 0.2) 1px solid;
	width: 100vw;
	height: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.main-contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: auto;
	padding: 1rem auto;
	text-align: center;
}

.borde-Contacto{
	padding: 1rem 1rem;
}

.img--size{
	width: 30rem; 
	height: 30rem;
}

.main__img{
	width: 100vw;
	height: auto;
}

.diseño__form{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	cursor: text;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	text-align: left;
	line-height: 4rem;	
}

.style{
	display: block;
	width: 32rem;
	height: 4rem;
	padding: 1rem;
	border-style: solid;
	border-width: 1px;	
	border-color: rgba(32, 33, 36, .1);
}

.redondeado{
	width: 32rem;
	margin-top: 1rem;
	padding: 1rem;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(32, 33, 36, .1);;	
	border-bottom: rgba(32, 33, 36, .1);
}

/* ----------- pie de página ----------- */
.footer{
	background-color: rgba(32, 33, 36, 1);
	color: white;
}

.footer__contacto{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;	
}

.footer__seguinos{
	text-align: center;
	margin-top: 2rem;
}

.footer img{
	width: 4rem;
	height: auto;
	padding-top: 1rem;
	padding-right: 0.3rem;
}

.footer__contactanos{
	text-align: center;
	margin-top: 2rem;
}

.footer__mail{
	margin-top: 2rem;
}

.footer__medios-de-pago{
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 1rem;
	border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}

.footer__medios-de-pago img{
	padding: 1rem 1rem;
	width: 6rem;
	height: auto;
}


.h4_footer{
	margin-top: 2rem;
}

.footer__rights{
	width: 100vw;	
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.3rem;
	text-align: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.5rem;
}


/* media queries*/
@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
/* ----------- header encabezado ----------- */
	.encabezado{
		display: flex;
		flex-direction: row-reverse;
		padding-left: 2rem;
		padding-right: 4rem;		
	}
/* ----------- nav ----------- */
	.botonera{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		padding-left: 2rem;
	}	
	.botonera img{
		width: 12rem;
	}
/* ----------- main - envio-pago-seguridad-contacto ----------- */
	.main__pago-envio{
		width: 100vw;
		height: auto;
		display: flex;
		flex-flow: row wrap;
		padding: 2rem 15rem;
		font-weight: 1.5rem;
	}
	.img_pagos{
		width: 6rem;
	}

/* -----HTML: categorias / contacto /sale / crear cuenta----------- */
	.cat-style{
		justify-content: space-around;
		padding: 2rem 1rem;
		line-height: 4rem;
	}

	.cat-style1{
	line-height: 2.5rem;
	}

	.main-contacto{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.img--size{
		width: 40rem; 
		height: 40rem;
	}

	.style{
		display: block;
		width: 50rem;
	}

	.redondeado{
		width: 50rem;
	}

/* ----------- pie de página ----------- */
	.footer__medios-de-pago img{
		width: 12rem;
		padding-left: 4rem;
	}
}


@media (min-width: 1024px){
	.contenedor{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
/* ----------- main - envio-pago-seguridad-contacto ----------- */
	.main__pago-envio{
		width: 100vw;
		height: auto;
		display: flex;
		flex-flow: row wrap;
		padding: 2rem 1rem;
		font-weight: 1.5rem;
	}
	.img_pagos{
		padding-left: 2rem;
		width: 7rem;
	}

	.img--size{
	width: 50rem; 
	height: 50rem;
	}

	.cat-style{
		justify-content: space-around;
		padding: 2rem 1rem;
		line-height: 4rem;
	}
	
	.cat-style1{
	line-height: 2.5rem;
	}

/* ----------- pie de página ----------- */
	.footer__medios-de-pago img{
		width: 12rem;
		padding-left: 4rem;
	}
}

