html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
}


.font-Xl{
	font-size: 2.4rem;
}

.font-L{
	font-size: 2rem;
}

.font-M{
	font-size: 1.6rem;
	font-weight: 400;
}

.font-S{
	font-size: 1.4rem;
	font-weight: 400;
}

.font-Xs{
	font-size: 1.2rem;
}

.textLeft{
	text-align: left;
}