/* ----- pie de página ----- */
#footer{
	background-color: map-get($map:$paleta,$key:'cinco');
	color: $colorW;
	.footer__contacto{
		@include flex_ (row wrap, space-evenly);
		padding-top: 1rem;
		padding-bottom: 1rem;	
	}
	.footer__seguinos{
		text-align: center;
		margin-top: 2rem;
	}
	.footer__redes{
		@include flex_ (row nowrap, center);
	}
	.redes{
		padding: 1rem 2rem;
		color: $colorW;
		font-size: 5rem;
		background-color: transparent;
		border: none;
	}
	.footer__contactanos{
		text-align: center;
		margin-top: 2rem;
	}
	.footer__mail{
		margin-top: 2rem;
	}
	.footer__medios-de-pago{
		width: 100vw;
		@include flex_ (row wrap, space-evenly);
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 2rem;
		border-bottom: 1px solid $colorG;
		img{
		padding: 1rem 1rem;
		width: 6rem;
		height: auto;
		}
	}
	.h4_footer{
		margin-top: 2rem;
	}
	.footer__rights{
		width: 100vw;	
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 1.3rem;
		text-align: left;
		@include flex (row wrap, space-evenly, center);
		padding: 1.2rem 1rem;
	}
}