/* ----- forms ----- */
.diseño__form{
	@include flex (column wrap, center, center);
	cursor: text;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	text-transform: uppercase;
	text-align: left;
	line-height: 4rem;
	color: $colorDark;
}

.label{
	padding-top: 2rem;
	padding-left: 1rem;
}

.style{
	display: block;
	width: 28rem;
	height: 4rem;
	padding: 1rem;
	@include borde (solid, 1px, 1rem, transparent);
}

.redondeado{
	width: 28rem;
	margin-top: 2rem;
	padding: 0.4rem;
	@include borde (solid, 1px, 1rem, $colorDark-soft);
	background-color: $bgTurq;
}

.style-button{
	display: flex;
	flex-flow: column wrap;
}

.btn{
	margin-right: 1.5rem;
	margin-bottom: 1rem;	
	padding: 0rem 2rem;
	line-height: 5rem;
	text-align: center;	
}

.btn i{
	padding-right: 1.5rem;
}
