/* ----- main - carousel ----- */
#main{
	.main__img{
		width: 100vw;
		height: 14rem;
	}
}

/* ----- main - envio-pago-seguridad-contacto ----- */
#main{
	.main__pago-envio{
		background-color: map-get($map:$paleta,$key:'cuatro');
		width: 100vw;
		height: auto;
		padding-top: 3rem;
		padding-bottom: 3rem;
		@include flex (column, space-around, center);	
		text-align: center;
	}
	.img_pagos{
		width: 5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

/* ----- sección principal - categorías ----- */
.section__title{
	text-align: center;
	background: rgb(2,0,36);
	background: $bgGradient;
	color: colorW;
	width: 100vw;
	height: auto;
	padding: 1.6rem 2rem;
}

.section__categorias{
	width: 100vw;
	@include flex (row wrap, space-around, center);
    list-style: none;
    text-align: center;
}

.categorias{
	margin: 1.5rem 0;
	padding: 1.5rem 1.5rem;
}

.section__img--size{
	width: 30rem;
	height: 30rem;
	margin: 0.4rem;	
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* ----- animación img index ----- */
.scale-img :hover{
	transform: scale(1.05);
	transition: 0.5s ease;
	border-radius: 2.8rem;
}