// media queries //
@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
// header encabezado //
	.encabezado{
		display: flex;
		flex-direction: row-reverse;
		padding: 1.5rem 2rem;		
	}

// nav //
	.botonera{
		vertical-align: baseline;
		width: 100vw;
		height: 7rem;
		padding-left: 2rem;
		padding-right: 1rem;
		img{
			width: 12rem;
			padding-top: 0.4rem;
		}
		ul li{
			padding-left: 5rem;
			padding-right: 2rem;	
		}
	}	


// main - envio-pago-seguridad-contacto //
	.main__pago-envio{
		width: 100vw;
		height: auto;
		display: flex;
		flex-flow: row wrap;
		padding: 4rem;
		font-weight: 1.5rem;
	}
	.img_pagos{
		width: 5rem;
	}

// HTML: categorias / contacto /sale / crear cuenta //
	.cat-style{
		justify-content: space-around;
		padding: 2rem 1rem;
		line-height: 4rem;
	}
	.cat-style1{
		line-height: 2.5rem;
	}
	.main-contacto{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.img--size{
		width: 40rem; 
		height: 40rem;
	}

// mesas y sillas //
	.section__img--size1{
		width: 37rem;
		height: 50rem;
	}
	.style{
		display: block;
		width: 50rem;
	}
	.redondeado{
		width: 50rem;
	}

// pie de página //
	.footer__medios-de-pago img{
		width: 8rem;
	}
}


// media queries //
@media (min-width: 1024px){
	.contenedor{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
// main - envio-pago-seguridad-contacto //
	.img_pagos{
		padding-left: 2rem;
		padding-right: 2rem;
		width: 7rem;
	}

	.img--size{
	width: 50rem; 
	height: 50rem;
	}

	.cat-style{
		justify-content: space-around;
		padding: 2rem 1rem;
		line-height: 4rem;
	}
	
	.cat-style1{
	line-height: 2.5rem;
	}
}