#nav{
	.botonera{
		background-color: rgba(9, 105, 121, 1);
		width: 100vw;
		position: sticky;
		top: 0;
		z-index: 1000;
			img{
				display: flex;
				flex-direction: column;	
				justify-content: space-evenly;
				align-items: center;
				width: 10rem;
			}	
			ul{
				justify-content: space-evenly;
				align-items: center;
				list-style: none;
				font-weight: 800;
				li{
					list-style: none;
					a{
						color: white ;
						:hover{
							color: rgba(9, 105, 121, 1);
							font-weight: 600;
							transform: scale(1.15);
						}
					}
				}		
			}	
	}
	.hamburger-style{
		background-color: rgba(9, 105, 121, 1);	
		border: none;
		text-align: left;	
	}
}




