@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Rubik:wght@300;400;500&display=swap');
$fontMain: 'Lato', sans-serif;

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
    font-size: 1.4rem;	
	box-sizing: border-box;
}

/* ----- GRID ----- */
.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header" "nav" "main" "footer";
}

/* ----- áreas del layout ----- */
#header{
	grid-area: header;
}

#nav{
	grid-area: nav;
}

#main{
	grid-area: main;
}

#footer{
	grid-area: footer;
}

/* ----- usual ----- */
html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
}


.font-Xl{
	font-size: 2.4rem;
}

.font-L{
	font-size: 2rem;
}

.font-M{
	font-size: 1.6rem;
	font-weight: 400;
}

.font-S{
	font-size: 1.3rem;
	font-weight: 400;
}

.font-Xs{
	font-size: 1.2rem;
}

.textLeft{
	text-align: left;
}


//mixins
@mixin flex($flex-flow,$justify,$align){
	display: flex;
	flex-flow: $flex-flow;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex_($flex-flow,$justify){
	display: flex;
	flex-flow: $flex-flow;
	justify-content: $justify;
}

@mixin texto($font-size, $line-height, $text-align){
	font-size: $font-size;
	line-height: $line-height;
	text-align:$text-align;
}

@mixin borde($style, $width, $radius, $bgColor){
	border-style: $style;
	border-width: $width;
	border-radius:$radius;
	background-color: $bgColor;
}


// map
$paleta: (
    'uno': #FFFFFF,
    'dos': rgba(12, 171, 168, 1),
    'tres': rgba(9, 105, 121, 1),
    'cuatro': rgba(1, 89, 88, .5),
    'cinco': rgba(32, 33, 36, 1),);


//extends
.btn{
	margin-right: 1.5rem;	
	padding: 0rem 2rem;
	line-height: 5rem;
	text-align: center;	
}

.redondeado{
	@extend .btn;
	width: 28rem;
	margin-top: 2rem;

	@include borde (solid, 1px, 1rem, rgba(32, 33, 36, 0.1));
	background-color: rgba(9, 105, 121, 1);
}
