//Background//
$bgGradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);

// Color //
$colorW: #FFFFFF;
$colorS: #C0C0C0;
$colorG: #515B5B;
$colorTurq: rgba(9, 105, 121, 1);
$colorTurq-soft: rgba(9, 105, 121, .3);
$colorB: rgba(2, 0, 36, .8);
$colorDark: rgba(32, 33, 36, 1);
$colorDark-soft: rgba(32, 33, 36, 0.1);