// Background Color //
$bgEncabezado: rgba(32, 33, 36, 1);
$bgEncabezado-hover: rgba(9, 105, 121, 1);
$bgBtn1: #FFF;
$bgNav: rgba(9, 105, 121, 1);


// Color //
$colorW: #FFFFFF;
$colorS: #C0C0C0;
$colorTurq: rgba(9, 105, 121, 1);
